<% layout("/layouts/boilerplate") %>

    <body>
        <div class="home-container">

            <div class="flex-container">

                <h3 class="heading flex-basis-1">All Listings </h1>

                    <div class="listings-container">

                        <% for (let item of listings) { %>

                            <a href="/listings/<%= item._id %>">

                                <div key="<%= item._id %>" class="card-container ">

                                    <img src="<%= item.image.url %>" class="card-img" />

                                    <div>
                                        <div class="card-heading">
                                            <%= item.title %>
                                        </div>
                                        <div class="card-text">
                                            &#8377; <%= item.price.toLocaleString("en-In") %> / night
                                        </div>
                                    </div>

                                </div>
                            </a>
                            <% } %>
                    </div>

            </div>
        </div>
    </body>