<% layout("/layouts/boilerplate") %>

    <main>
        <div class="form-container">

            <form method="post" action="/listings/<%= _id %>/edit?_method=PUT" enctype="multipart/form-data"
                class="listing-form"  id="listing-form" novalidate>

                <h1 class="form-heading">Edit Property Details</h1>

                <div class="form-input-container">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" type="text" placeholder="Enter title" name="title" value="<%= title %>" required
                        class="form-input" />
                </div>

                <div class="form-input-container">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" placeholder="Describe your property in detail" name="description" required
                        rows="5" class="form-input"><%= description %></textarea>
                </div>

                <div class="form-input-container w-full">
                    <label for="price" class="form-label">Price (per night)</label>
                   
                        
                        <input id="price" placeholder="Enter price" name="price" type="number" value="<%= price %>" 
                            min="0" required class="form-input " />

                </div>

                <div class="form-input-container">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" type="text" placeholder="City or area" name="location" value="<%= location %>" required
                        class="form-input" />
                </div>

                <div class="form-input-container">
                    <label for="country" class="form-label">Country</label>
                    <input id="country" type="text" placeholder="Country" name="country" value="<%= country %>" required
                        class="form-input" />
                </div>

                <div class="form-input-container">
                    <label for="imageUrl" class="form-label">Edit Image</label>
                    <input type="file" name="imageFile" class="form-input"  id="imageFile">

                    <div class="divider">
                        <hr>
                        <span class="divider-text">OR</span>
                        <hr>
                    </div>

                    <input type="url" id="imageUrl" name="imageUrl" placeholder="Enter image url" class="form-input" value="<%= image.url %>">
                </div>


                <div class="form-input-container">
                    <label class="form-label">Current Image</label>
                    <img src="<%= image.url %>" width="500px" class="preview-image" />
                </div>

                <div class="form-buttons">
                    <button type="submit" class="submit-button">Save Changes</button>
                    <a href="/listings/<%= _id %>" class="discard-button"
                        style="text-decoration:none; text-align: center;">Cancel</a>
                </div>

            </form>
        </div>
    </main>